
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

@section Scripts{

    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/modules/export-data.js"></script>

    <script src="~/Scripts/chart/chart.js"></script>

    <script>
        $(document).ready(function () {
            //Toggle active page on the navbar
            $(".active").removeClass("active");
            $(".chart-nav-link").addClass("active");

            GetChartData();
        });
    </script>
}

<!--<div id="container" style="height: 400px; min-width: 310px"></div>-->

<div class="chart-container" style="height: 400px; min-width: 310px"></div>